<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div class="row">
    <div class="col-md-auto" style="font-family: Consolas">
        <span>Core Information:</span>
    </div>
</div>
<div class="row">
    <div class="col-md-auto">
        <ul>
            <li>ID: <span th:text="*{id}"></span></li>
            <li>Username: <span th:text="*{username}"></span></li>
            <li>Rank: <span th:text="*{role}"></span></li>
            <li>Email: <span th:text="*{email}"></span></li>
            <li>Registration Date: <span th:text="*{#temporals.format(registrationDate, 'dd-MMMM-yyyy')}"></span></li>
            <li>Last Online: <span th:text="*{#temporals.format(lastOnline, 'dd-MMMM-yyyy')}"></span></li>
            <li>Last Accessed Location: <span th:text="*{location}"></span></li>
            <li>Enabled: <span th:text="*{isEnabled}"></span></li>
            <li>Account Not Expired: <span th:text="*{isAccountNonExpired}"></span></li>
            <li>Account Not Locked: <span th:text="*{isAccountNonLocked}"></span></li>
            <li>Credentials Not Expired: <span th:text="*{isCredentialsNonExpired}"></span></li>
        </ul>
    </div>
</div>
</html>