<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<script src="/res/js/user/control/user-control-base.js"></script>


<th:block th:object="${user}">

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/user/{username}/control(username=*{username})}"><span><img th:src="@{http://localhost:8001/data/user/{username}/avatar(username=*{username})}" style="width: 20px;height: 20px"/> </span><span th:text="*{username}">username</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </nav>



    <div class="container" style="margin-left: 0;margin-top: 10px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 15rem;">
                    <div class="card-header">
                        Options Menu
                    </div>
                    <ul class="list-group list-group-flush">
                        <a th:href="@{/user/{username}/control/role-management(username=*{username})}"><li class="list-group-item control-option">Role Management</li></a>
                        <li class="list-group-item control-option">Option2</li>
                        <li class="list-group-item control-option">Option3</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">

                        <th:block th:insert="${controlPage}"/>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        runMenuSelectorColorizer();
    </script>
</div>
</th:block>