<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block th:object="${userInfo}">

    <form method="post" action="/user/my-profile/options/information">

        <div class="row">
            <div class="col-md-auto" style="font-family: Consolas">
                <span>Status Message:</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
<textarea name="statusMessage" id="textarea-statusMessage-userOptions"
          style="border:1px solid #ccc;border-radius: 3px;height: 60px;overflow: auto;width: 100%;resize: none" th:text="*{statusMessage}"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 3px">
            <div class="col-lg">
                <small id="small-statusMessageCharactersLeft-userOptions"
                       style="float: right;display: inline-block;border-color: #ccc;margin-right: 3px;color: darkgreen;font-size: 13px">
                    16
                </small>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row" align="center">
            <div class="col-lg">
                <span>Avatar:</span>
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-lg">
                <img style="width: 50px;height: 50px" th:src="*{avatarPath}">
            </div>
        </div>

        <div class="row" align="center" style="margin-top: 5px">
            <div class="col-lg">
                <input th:value="*{avatarPath}" name="avatarPath" type="text" class="form-control" style="width: 250px"
                       placeholder="Avatar url...">
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row" align="center" style="margin-top: 5px">
            <div class="col-lg">
                <span>Birthday:</span>
            </div>
        </div>

        <div class="row" align="center" style="margin-top: 5px">
            <div class="col-lg">
                <input th:value="*{birthDate}" name="birthDate" data-provide="datepicker" class="form-control"
                       style="width: 250px" data-date-format="yyyy-mm-dd">
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row">
            <div class="col-md-auto" style="font-family: Consolas">
                <span>About you:</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
<textarea th:text="*{aboutYou}" id="textarea-aboutYou-userOptions" name="aboutYou"
          style="border:1px solid;border-color: #ccc;border-radius: 3px;height: 60px;overflow: auto;width: 100%;resize: none"></textarea>
            </div>
        </div>
        <div class="row" style="margin-top: 3px">
            <div class="col-lg">
                <small id="small-aboutYouCharactersLeft-userOptions"
                       style="float: right;display: inline-block;margin-right: 3px;color: darkgreen;font-size: 13px">
                    250
                </small>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row" align="center">
            <div class="col-lg">
                <button type="submit" class="btn btn-warning btn-sm">Save Changes</button>
            </div>
        </div>

        <script>

            $(document).ready(function () {
                let statusMessageCharactersMAX = 16;
                let aboutYouCharactersMAX = 250;
                let statusMessageField = $(`#textarea-statusMessage-userOptions`);
                let statusMessageCharactersLeft = $(`#small-statusMessageCharactersLeft-userOptions`);
                let aboutYouField = $(`#textarea-aboutYou-userOptions`);
                let aboutYouCharactersLeft = $(`#small-aboutYouCharactersLeft-userOptions`);

                magic(statusMessageCharactersMAX, statusMessageField, statusMessageCharactersLeft);
                magic(aboutYouCharactersMAX, aboutYouField, aboutYouCharactersLeft);

                function magic(maxCharacters, field, leftCharactersField) {
                    work();
                    field.on(`keypress keydown keyup`, function () {
                         work();
                    });

                    function work() {
                        let text = field.val();
                        let charLeft = maxCharacters - text.length;

                        leftCharactersField.text(charLeft);

                        if (charLeft < 0) {
                            field.css(`border-color`, `red`);
                            leftCharactersField.css(`color`, `red`);
                        } else {
                            leftCharactersField.css(`color`, `darkgreen`);
                            field.css(`border-color`, `#ccc`);
                        }
                    }

                }
            })

        </script>
    </form>
</th:block>