<div class="col-xs-6" style="margin-left: 7px;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <span id="newsTab"><a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                      href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">📰News</a></span>
        <span id="videosTab"><a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                aria-selected="false">📹Videos</a></span>
        <span><a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                 role="tab" aria-controls="v-pills-messages" aria-selected="false"></a></span>
        <span><a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                 role="tab" aria-controls="v-pills-settings" aria-selected="false"></a></span>
    </div>

    <div class="dropdown-divider"></div>

    <div>
        <h6>Social Media</h6>
        <button type="button" class="btn btn-brand btn-facebook">
            <i class="fa fa-facebook"></i>
        </button>
        <button type="button" class="btn btn-brand btn-instagram">
            <i class="fa fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-brand btn-youtube">
            <i class="fa fa-youtube"></i>
        </button>
    </div>
</div>