<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div id="home-page" class="container d-flex justify-content-center align-items-center">
    <div class="row">

       <!-- <th:block th:insert="navbar/side-base-navbar"></th:block>-->

        <div class="col-md-auto" style="width: 100%">
            <th:block th:insert="thread/threads-all-home"></th:block>
        </div>

    </div>
</div>