<div id="div-error-page" class="container d-flex justify-content-center align-items-center">
    <div class="col-md-4">
        <div class="row">

            <div align="center" style="margin-top: 3vw;margin-bottom: 3vw">
                <div class="dropdown-divider"></div>
                <h3><small>🔥</small>There was a error<small>🔥</small></h3>
                <div class="dropdown-divider" style="width: 25%"></div>
                <h3 th:text="${message}">Unknown Error</h3>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </div>
</div>