.date {
    display: inline-block;
    padding-top: 18px;
    float: right;
}

.totalComments {
    display: inline-block;
    padding-top: 18px;
    float: right;
}

.continueReading {
    display: inline-block;
    float: right;
}

.width-75-percent {
    width: 75%;
}

.card-text * {
    width: 100%;
}
