.status{
    font-family: Consolas;
}

.textarea-status {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 60px;
    overflow: auto;
    width: 100%;
    resize: none;
}

.status-left-chars-row {
    margin-top: 3px;
}

.status-left-chars {
    float: right;
    display: inline-block;
    border-color: #ccc;
    margin-right: 3px;
    color: darkgreen;
    font-size: 13px;
}

.user-img  {
    width: 50px;
    height: 50px;
}