<div id="div-forgottenPasswordForm" style="display:none">
    <form class="px-4 py-3" method="post" action="/forgotten/password">
        <div class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">👤/📧</div>
                </div>
                <input type="text" class="form-control"
                       id="input-usernameOrEmail-forgottenPasswordForm"
                       autocomplete="off"
                       name="usernameOrEmail" placeholder="Username or Email...">
                <small id="error-usernameOrEmailDoesntExists-forgottenPasswordForm" style="display:none">⚡No user exists with the provided credentials!
                </small>
            </div>
        </div>

        <button type="button" id="button-goToLogin-forgottenPasswordForm" class="btn btn-primary btn-sm">Back
        </button>
        <button id="button-proceedEmailSend-forgottenPasswordForm" type="submit" data-style="zoom-in" class="btn btn-success btn-sm">Send
        </button>

        <div class="dropdown-divider"></div>
    </form>
</div>

<script src="/js/auth/password/forgottenPasswordValidationsAndUtils.js"></script>
<script>
   runForgottenPasswordValidationsAndUtils();
</script>