<div id="div-forgottenPasswordForm" style="display:none">
    <form class="px-4 py-3" id="form-forgottenPassword">
        <div class="form-group">
            <div class="input-group mb-2">

                <div class="input-group-prepend">
                    <div class="input-group-text">👤/📧</div>
                </div>
                <input type="text" class="form-control"
                       id="input-usernameOrEmail-forgottenPasswordForm"
                       autocomplete="off"
                       name="usernameOrEmail" placeholder="Username or Email...">
            </div>
        </div>

        <button type="button" id="button-goToLogin-forgottenPasswordForm" class="btn btn-primary btn-sm">Back
        </button>
        <button id="button-proceedEmailSend-forgottenPasswordForm" type="button" data-style="zoom-in" class="btn btn-success btn-sm">Send
        </button>

        <div class="dropdown-divider"></div>
        <div id="container-notification-forgottenPassword">
            <div class="alert alert-danger p-1" id="error-noUserExistsWithTheProvidedCredentials-forgottenPasswordForm" style="display:none">
                <strong>⚡</strong> No user exists with the provided credentials!
            </div>
            <div class="alert alert-info p-1" id="notification-pleaseWait-forgottenPasswordForm" style="display:none">
                <strong>🔔</strong> Please wait!
            </div>
            <div class="alert alert-success p-1" id="notification-successful-forgottenPasswordForm" style="display:none">
                <strong>✔</strong> Password reset token has been sent to your email!
            </div>
        </div>
    </form>
</div>

<script src="/res/js/auth/password/forgottenPasswordValidationsAndUtils.js"></script>
<script>
   runForgottenPasswordValidationsAndUtils();
</script>