<div id="loginPage">
    <a class="dropdown-item" href="#">
        <button type="button" class="btn btn-block btn-social btn-facebook"><i
                class="fa fa-facebook"></i>Login with Facebook
        </button>
    </a>
    <form class="px-4 py-3" method="post" action="/login">
        <div class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">👤/📧</div>
                </div>
                <input type="text" class="form-control" id="usernameOrEmailLoginForm" name="usernameOrEmail" placeholder="Username or Email...">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">🔒</div>
                </div>
                <input type="password" class="form-control" id="passwordLoginForm" name="password" placeholder="Password..." >
            </div>
        </div>
        <div>
            <div class="g-recaptcha" id="rcaptcha" data-sitekey="site key"></div>
            <span id="captcha" style="color:red"></span>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="rememberMe" class="custom-control-input"
                   id="rememberMeLoginForm">
            <label class="custom-control-label" for="rememberMeLoginForm">
                Remember me
            </label>
        </div>
        <button type="submit" data-style="zoom-in" class="btn btn-primary">Login</button>
        <div class="dropdown-divider"></div>
    </form>
    <a id="buttonGoToRegister" class="dropdown-item">
        <button type="button" class="btn btn-success btn-sm">Register</button>
    </a>
    <a id="buttonGoToForgottenPassword" class="dropdown-item">
        <button class="btn btn-warning btn-sm">Forgotten Password</button>
    </a>
</div>