<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link rel="stylesheet" href="/res/css/lib/bootstrap-4.0.0.min.css">
<link href='/res/css/lib/font-awesome-4.3.0.min.css' rel='stylesheet'/>
<link rel="stylesheet" href="/res/css/bootstrap-social.css">
<link rel="stylesheet" href="/res/css/lib/bootstrap-datepicker.css">
<link rel="stylesheet" href="/res/css/lib/bootstrap-datepicker.css.map">

<script src="/res/js/lib/jquery-3.3.1.min.js"></script>
<script src="/res/js/lib/popper-1.12.9.min.js"></script>
<script src="/res/js/lib/bootstrap-4.0.0.min.js"></script>
<link href="/res/css/lib/google-material-icons.css" rel="stylesheet">
<script src="/res/js/lib/bootstrap-datepicker.js"></script>
<script src="/res/js/constants-url.js"></script>
<script src="/res/js/constants-validation.js"></script>
<script src="/res/js/lib/url-parse.min.js"></script>
<script src="/res/js/utils/modal-utils.js"></script>
<link rel="icon" th:href="${favicon}">

