<link rel="stylesheet" href="/res/css/thread/thread-create.css">


<div id="createThread-page" class="container d-flex justify-content-center align-items-center">
    <div class="row">

        <div id="news" class="col-xs-6">
            <div class="card">
                <div class="card-header">
                    <small>🆕</small>
                    Create a new thread:
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <input id="input-title-threadCreate" type="text" class="form-control" aria-label="Title"
                                           aria-describedby="basic-addon1" name="title" placeholder="Thread title">
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>


                        <th:block th:insert="editor/text-editor"></th:block>

                        <div class="dropdown-divider"></div>
                        <div class="col-md-13">
                            <div id="textarea-content-createThread" contenteditable="true">

                            </div>
                        </div>

                        <div class="dropdown-divider"></div>
                        <div class="col-md-13">
                            <label for="input-rowsForNewsPage-threadCreate">Rows to be show on the news page:</label>
                            <input id="input-rowsForNewsPage-threadCreate" type="number" class="form-control" aria-label="Rows"
                                   aria-describedby="basic-addon1" name="rowsForNewsPage" placeholder="Rows for news">
                        </div>

                        <div class="row">
                            <button id="button-proceedCreateThread-createThread" type="button" class="btn btn-success btn-lg btn-block">Create</button>
                        </div>

                        <script src="/res/js/thread/create-thread-send.js"></script>

                        <script src="/res/js/editor/text-editor.js"></script>

                    </form>
                </div>

                <div class="dropdown-divider"></div>
            </div>
        </div>

    </div>
</div>