<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block th:object="${user}">

<div class="container" style="margin-top: -75px">

    <div class="row" style="">


        <div class="col-md-auto">
            <div class="col-md-sm user-info">

                <div align="center">
                    <img th:src="@{http://localhost:8001/data/user/{username}/avatar(username=*{username})}" style="width: 70px;height: 70px"/>
                </div>


                <div class="card user-base-info" style="margin-top: 10px;font-size: 13px">
                    <div class="card-body" style="line-height: 13px;font-family: Consolas;margin-left: -20px">

                        <div class="col-md-auto">
                            <div class="row" style="font-size: 11px">
                                <div class="col-md-auto" style="column-width: 75px">
                                    Last online:
                                </div>
                                <div class="col-md-auto" style="column-width: 100px">
                                <span style="display: inline-block;float: right;" th:text="*{#temporals.format(lastOnline, 'MMM dd,yyyy')}" th:title="*{#temporals.format(lastOnline, 'HH:mm')}">
                                   Unknown 00,0000
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-auto">
                            <div class="row" style="font-size: 11px">
                                <div class="col-md-auto" style="column-width: 75px">
                                    Joined on:
                                </div>
                                <div class="col-md-auto" style="column-width: 100px">
                               <span style="display: inline-block;float: right;" th:text="*{#temporals.format(registrationDate, 'MMM dd,yyyy')}" th:title="*{#temporals.format(registrationDate, 'HH:mm')}">
                                    Unknown 00,0000
                               </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-auto">
                            <div class="row" style="font-size: 11px">
                                <div class="col-md-auto" style="column-width: 75px">
                                    Messages:
                                </div>
                                <div class="col-md-auto" style="column-width: 100px">
                               <span style="display: inline-block;float: right;" th:text="*{totalMessages}">
                                    00000
                               </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card minecraft-user-link" style="margin-top: 10px">
                    <div>
                        <img th:src="@{https://minotar.net/avatar/{minecraftAccountName}(minecraftAccountName=*{minecraftAccountName})}"
                             style="width: 30px;height: 30px;margin-left: 5px;margin-top: 2px;margin-bottom: 2px"/>
                        <a href="" th:text="*{minecraftAccountName}"></a>
                    </div>
                </div>

                <div class="card reactions-given" style="margin-top: 10px">
                    <div class="card-body" style="line-height: 13px;font-family: Consolas;margin-left: -20px">

                        <div class="col-md-auto">
                            <div class="row" style="font-size: 15px">
                                <div class="col-md-auto" style="font-size: 16px;">
                                    👍
                                </div>
                                <div class="col-md-auto" style="column-width: 150px">
                               <span style="display: inline-block;float: right;color:darkgreen" th:text="*{totalDislikes}">
                                    0000
                               </span>
                                </div>
                            </div>
                            <div class="dropdown-divider" style="width: 100%"></div>
                        </div>

                        <div class="col-md-auto">
                            <div class="row" style="font-size: 15px">
                                <div class="col-md-auto" style="font-size: 16px">
                                    👎
                                </div>
                                <div class="col-md-auto" style="column-width: 150px">
                               <span style="display: inline-block;float: right;color: indianred;" th:text="*{totalLikes}">
                                    0000
                               </span>
                                </div>
                            </div>
                            <div class="dropdown-divider" style="width: 100%"></div>
                        </div>

                    </div>
                </div>

                <div class="card following" style="margin-top: 10px">
                    <div align="center">
                        <span>Following: <span th:text="*{totalFollowing}">000</span></span>
                    </div>
                    <div>

                        <div class="row d-flex justify-content-center align-items-center" style="width: 100%;margin-left: 0px">
                            <th:block th:each="following : *{followings}" th:object="${following}">
                                <th:block th:if="${followingStat.index < 4}">
                                    <a th:href="@{/user/{username}/profile(username=*{username})}"><img th:src="@{http://localhost:8001/data/user/{username}/avatar(username=*{username})}" th:title="*{username}"
                                                                                                        style="width: 30px;height: 30px;margin-left: 5px;margin-top: 2px;margin-bottom: 2px"/></a>
                                </th:block>
                            </th:block>
                        </div>

                    </div>
                    <a href="" class="d-flex justify-content-center align-items-center">See all</a>
                </div>

                <div class="card followers" style="margin-top: 10px">
                    <div align="center">
                        Followers: <span th:text="*{totalFollowers}">000</span>
                    </div>
                    <div>

                        <div class="row d-flex justify-content-center align-items-center" style="width: 100%;margin-left: 0px">
                            <th:block th:each="follower : *{followers}" th:object="${follower}">
                                <th:block th:if="${followerStat.index < 4}">
                                    <a th:href="@{/user/{username}/profile(username=*{username})}"><img th:src="@{http://localhost:8001/data/user/{username}/avatar(username=*{username})}" th:title="*{username}"
                                                                                                        style="width: 30px;height: 30px;margin-left: 5px;margin-top: 2px;margin-bottom: 2px"/></a>
                                </th:block>
                            </th:block>
                        </div>


                    </div>
                    <a href="" class="d-flex justify-content-center align-items-center">See all</a>
                </div>

                <div class="card user-location" style="margin-top: 10px">
                    <div class="card-body"
                         style="line-height: 13px;font-family: Consolas;margin-left: -20px;margin-bottom: -15px;margin-top: -15px">

                        <div class="col-md-auto">
                            <div class="row" style="font-size: 11px">
                                <div class="col-md-auto" style="column-width: 75px">
                                    Location:
                                </div>
                                <div class="col-md-auto" style="column-width: 100px">
                                    <span style="display: inline-block;float: right;">
                                         <span th:text="*{location}"></span>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="central-content" style="margin-left: 5px">

            <div class="col-md-auto username_and_rank_follow_unfollow">
                <div style="line-height: 20px">
                    <div class="row">
                        <div>
                            <div class="col-md-auto head">
                                <span style="font-size: 25px" th:text="*{username}">Unknown Username</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="col-md-auto head">
                                <span style="font-size: 20px" th:text="*{role}">Unknown Rank</span>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="row">
                        <div class="col-md-12 head">
                            <a th:href="@{/user/{username}/follow(username=*{username})}" id="a-follow_user-userProfile" style="font-size: 13px;float: right;display: none">Follow</a>
                            <a th:href="@{/user/{username}/unfollow(username=*{username})}" id="a-unfollow_user-userProfile" style="font-size: 13px;float: right;display: none">Unfollow</a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 head">
                            <small id="a-is_he_followed_you-userProfile" style="font-size: 11px;float: right;display: inline-block"></small>
                        </div>
                    </div>

                    <script th:inline="javascript">
                        let currentLoggedInUserUsername = /*[[${#authentication.getName()}]]*/ null;
                        let lookingUserUsername = /*[[*{username}]]*/ null;

                        if(currentLoggedInUserUsername.toLowerCase() !== lookingUserUsername.toLowerCase()){
                            let url = URL_API_IS_USER_FOLLOWING_USER.replace("${user1Username}",currentLoggedInUserUsername);
                            url = url.replace("${user2Username}",lookingUserUsername);
                            $.ajax({
                                method: "GET",
                                url: url,
                                success: function (isFollowing) {
                                    if(isFollowing){
                                        $(`#a-unfollow_user-userProfile`).css(`display`,`inline-block`);
                                    }else{
                                        $(`#a-follow_user-userProfile`).css(`display`,`inline-block`);
                                    }
                                }
                            });

                            let urlReverse = URL_API_IS_USER_FOLLOWING_USER.replace("${user1Username}",lookingUserUsername);
                            urlReverse = urlReverse.replace("${user2Username}",currentLoggedInUserUsername);

                            $.ajax({
                                method: "GET",
                                url: urlReverse,
                                success: function (isFollowing) {
                                    if(isFollowing){
                                        $(`#a-is_he_followed_you-userProfile`).text(lookingUserUsername + " is following you.");
                                    }else{
                                        $(`#a-is_he_followed_you-userProfile`).text(lookingUserUsername + " is not following you.");
                                    }
                                }
                            })
                        }

                    </script>

                </th:block>

                <div class="dropdown-divider"></div>
            </div>

            <div class="col-md-auto status">
                <div style="line-height: 20px">
                    <div class="row">
                        <div>
                            <div class="col-md-auto head">
                                <span style="font-size: 13px;font-family: Georgia;font-style: italic">Knock knock</span><span
                                    style="font-size: 10px;color: #7f7f7f;"> Jul 25,2017</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-auto user-information-navigation" style="margin-top: 50px">

                <div class="navigation">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#posts">Profile posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#latest-activity">Latest Site Activity</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#latest-in-game-activity">Lates In-Game Activity</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#information">Information</a>
                        </li>
                    </ul>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane container active" id="posts">

                        <div class="dropdown-divider"></div>

                        <div class="create-post">
                            <form method="post" th:action="@{/post/{userUsername}/create(userUsername=*{username})}">
                                <div class="row">

                                    <div class="col-md-1">
                                        <img th:src="@{http://localhost:8001/data/user/{username}/avatar(username=*{username})}" style="width: 30px;height: 30px"/>
                                    </div>

                                    <div class="col-lg">
                                        <textarea name="content" id="textarea-createPost-userProfile" style="border:1px solid #ccc;border-radius: 3px;height: 60px;overflow: auto;width: 100%;resize: none"></textarea>
                                    </div>

                                </div>

                                <div class="row" style="margin-top: 3px">
                                    <div class="col-lg">
                                        <button type="button" id="button-createPost-userProfile" class="btn btn-info btn-sm" style="float: right;display: inline-block">Post</button>
                                        <small id="small-leftPostCreationCharacters-userProfile" style="float: right;display: inline-block;margin-right: 3px;color: darkgreen;font-size: 13px">150</small>
                                    </div>
                                </div>
                            </form>

                            <script>
                                let minCharacters = POST_MIN_LENGTH;
                                let maxCharacters = POST_MAX_LENGTH;

                                let textArea = $(`#textarea-createPost-userProfile`);
                                let leftCharactersField = $(`#small-leftPostCreationCharacters-userProfile`);

                                textArea.on(`keypress keydown keyup`,function () {
                                    let content = textArea.val();
                                    let remainingCharacters = maxCharacters-content.length;
                                    leftCharactersField.text(remainingCharacters);

                                    if(content.length >= minCharacters && content.length <= maxCharacters){
                                        textArea.css('border-color','')
                                        $('#button-createPost-userProfile').attr('type','submit')

                                    }else{
                                        textArea.css('border-color','red')
                                        $('#button-createPost-userProfile').attr('type','button')
                                    }

                                    if(remainingCharacters <= 0){
                                        leftCharactersField.css('color','red')
                                    }else{
                                        leftCharactersField.css('color','darkgreen')
                                    }

                                });

                            </script>

                        </div>

                        <div class="dropdown-divider"></div>

                        <div class="all-posts" style="margin-top: 10px">

                            <th:block th:each="post : *{posts}" th:object="${post}">

                                <div class="card post" style="margin-top: 10px">
                                    <div class="card-body"  style="margin-bottom: -15px">
                                        <div class="row"  style="margin-top: -15px">
                                            <div class="col-md-1" style="margin-top: 9px">
                                                <img th:src="@{http://localhost:8001/data/user/{username}/avatar(username=*{creatorUsername})}" style="width: 30px;height: 30px"/>
                                            </div>
                                            <div class="col-lg" style="width: 150px">
                                                <a href="" style="color: #775322;font-size: 13px"><b th:text="*{creatorUsername}">Creator Username...</b> </a><small th:text="*{content}">Content...</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span style="color: #7f7f7f;font-size: 10px" th:text="*{#temporals.format(createdOn, 'MMM dd,yyyy')}">Jan 00,0000</span>

                                                <form method="post" th:action="@{/post/{postId}/delete(postId=*{id})}" style="all: initial">
                                                    <button type="submit" style="all:initial;cursor: pointer;"><span style="font-size: 10px;color: #007bff">❌Delete</span></button>
                                                </form>

                                                <button type="button" id="button-reportPost-userProfile" style="all:initial;cursor: pointer;"><span style="font-size: 10px;color: #007bff">🎌Report</span></button>

                                                <div class="modal" id="modal-reportPost-userProfile" role="dialog">
                                                    <div class="modal-dialog">

                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Report to the kings:</h4>
                                                            </div>
                                                            <form method="post" th:action="@{/post/{postId}/report(postId=*{id})}">
                                                                <div class="modal-body">
                                        <textarea class="post-modal_report-textarea"
                                                  name="reason" placeholder="Reason..." style="width: 100%;overflow-y: scroll;height: 200px;resize: none;"></textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-default">Report</button>
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">
                                                                        Cancel
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>

                                                <script>
                                                    $(document).ready(function () {
                                                        $("#button-reportPost-userProfile").click(function () {
                                                            $("#modal-reportPost-userProfile").modal();
                                                        });
                                                    });
                                                </script>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </th:block>

                        </div>

                    </div>

                    <div class="tab-pane container fade" id="latest-activity">Latest activity</div>
                    <div class="tab-pane container fade" id="latest-in-game-activity">Latest in-game activity</div>
                    <div class="tab-pane container fade" id="information">Information</div>
                </div>

            </div>

        </div>

    </div>
</div>

</th:block>