<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 40px;margin-right: 40px">
    <a class="navbar-brand" href="/user/all?page=0">👤Users</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions"
            aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarOptionsContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Filters
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link">Sort by:<span class="sr-only"></span></a>
                    <a class="dropdown-item" id="a-sortByUsername-usersAll" href="">Username</a>
                    <a class="dropdown-item" id="a-sortByEmail-usersAll" href="">Email</a>
                    <a class="dropdown-item" id="a-sortByRegistrationDate-usersAll" href="">Registration Date</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link">Show only:<span class="sr-only"></span></a>
                    <a class="dropdown-item" href="">Administrators</a>
                    <a class="dropdown-item" href="">Moderators</a>
                    <a class="dropdown-item" href="">Users</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" id="input-searchByUsername-usersAll" type="search"
                       placeholder="Search by username" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="button-searchByUsernameSend-usersAll">Search</button>
        </form>
    </div>
</nav>
<script>

    let inputSearchByUsername = $(`#input-searchByUsername-usersAll`);
    let buttonSearchByUsername = $(`#button-searchByUsernameSend-usersAll`);

    let sortParam = "sort";
    let pageParam = "page";
    let usernameParam = "isUsernameLike";

    let usernameSortParam = "username,asc";
    let emailSortParam = "email,asc";
    let registrationDateSortParam = "registrationDate,asc";

    let url = new URL(window.location.href);

    if(url.searchParams.get(pageParam) === null){
        url.searchParams.set(pageParam,0);
        window.location.href = url.href;
    }

    buttonSearchByUsername.on(`click`, function (event) {
        let url = new URL(window.location.href);
        url.searchParams.set(usernameParam,inputSearchByUsername.val());
        window.location.href = url.href;
    });

    $(`#a-sortByUsername-usersAll`).on(`click`, function (event) {
        event.preventDefault();
        window.location.href = prepareUrl(usernameSortParam);
    });

    $(`#a-sortByEmail-usersAll`).on(`click`, function (event) {
        event.preventDefault();
        window.location.href = prepareUrl(emailSortParam);
    });

    $(`#a-sortByRegistrationDate-usersAll`).on(`click`, function (event) {
        event.preventDefault();
        window.location.href = prepareUrl(registrationDateSortParam);
    });

    function prepareUrl(param) {
        let url = new URL(window.location.href);

        url.searchParams.set(sortParam,param);

        return url.href;
    }

</script>

<th:block th:object="${users}">

    <div class="table-responsive" align="center">
        <table class="table" style="text-align: center;width: 85%">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Registration Date</th>
                <th scope="col">Last Online</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <th:block th:each="user : ${users}" th:object="${user}">

                <tr class="user-tr">
                    <th class="user-tr-username" th:text="*{username}" scope="row">Username</th>
                    <td th:text="*{email}">Email</td>
                    <td th:text="*{#temporals.format(registrationDate, 'dd MMM,yyyy HH:mm')}">Registration Date</td>
                    <td th:text="*{#temporals.format(lastOnline, 'dd MMM,yyyy HH:mm')}">Last Online Date</td>
                    <td th:text="*{location}">Country</td>
                    <td>
                        <a th:href="@{/user/{username}/control(username=*{username})}" class="btn btn-warning btn-sm">Show
                            More</a>
                    </td>
                </tr>

            </th:block>

            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example" class="d-flex justify-content-center align-items-center">
        <ul class="pagination">

            <th:block th:if="${#request.getParameter('page')} != null">

                <th:block th:if="${(#conversions.convert(#request.getParameter('page'), 'Integer')) - 1} >= 0">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/user/all(page=${(#conversions.convert(#request.getParameter('page'), 'Integer')) - 1},sort=${#httpServletRequest.getParameter('sort')},isUsernameLike=${#httpServletRequest.getParameter('isUsernameLike')})}">Previous</a>
                    </li>
                </th:block>

            </th:block>

            <th:block th:each="i: *{#numbers.sequence(1,totalPages)}">
                <li class="page-item"><a class="page-link" th:text="${i}"
                                         th:href="@{/user/all(page=${i-1},sort=${#httpServletRequest.getParameter('sort')},isUsernameLike=${#httpServletRequest.getParameter('isUsernameLike')})}"></a></li>
            </th:block>


            <th:block th:if="${#request.getParameter('page')} != null">

                <th:block
                        th:if="*{(#conversions.convert(#request.getParameter('page'), 'Integer')) + 1 <= totalPages-1}">
                    <li class="page-item"><a class="page-link"
                                             th:href="@{/user/all(page=${(#conversions.convert(#request.getParameter('page'), 'Integer')) + 1},sort=${#httpServletRequest.getParameter('sort')},isUsernameLike=${#httpServletRequest.getParameter('isUsernameLike')})}">Next</a>
                    </li>
                </th:block>

            </th:block>


        </ul>
    </nav>

</th:block>