.date {
    display: inline-block;
    padding-top: 18px;
    float: right;
}

.totalComments {
    display: inline-block;
    padding-top: 18px;
    float: right;
}

.continueReading {
    display: inline-block;
    float: right;
}
