.thread-createdOn {
    display: inline-block;
    padding-top: 18px;
    float: right;
}

.thread-total_comments {
    display: inline-block;
    padding-top: 18px;
    float: right;
}

.thread-content {
    width: 60vw;
    min-width: 230px;
}

.thread-random_separation {
    margin-bottom: 8px;
}

.thread-report_button {
    margin-left: 5px;
}

.thread-modal_report-textarea {
    width: 100%;
    overflow-y: scroll;
    height: 200px;
    resize: none;
}

.thread-right_side_buttons {
    display: inline-block;
    float: right;
}

.thread-right_side_button-react {
    margin-left: 10px;
}

.thread-remove_button_default_style {
    background: none;
    border: none;
}

.thread-delete_button {
    width: 100%;
}

/*Comment box*/

.thread-comment_box {
    margin-top: 25px;
    margin-bottom: 25px;
    display: none;
}

.thread-comment_box-textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    min-width: 230px;
    min-height: 25vw;
    max-height: 25vw;
    overflow: auto;
}

.thread-comment_box-buttons {
    margin-top: 10px;
}

.thread-comment_box-button_cancel {
    margin-left: 10px;
}

/*Comments*/

.thread-comments {
    margin-top: 20px;
    margin-bottom: 20px;
}

.thread-comments-date_likes_dislikes {
    display: inline-block;
    float: right;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 10px;
}

.thread-comment-creator_info_section {
    margin-left: 30px;
    margin-top: 30px;
}

.thread-comment-creator_avatar {
    width: 50px;
    height: 50px;
    max-width: 100%;
}

.thread-comment-creator-minecraft_username {
    width: 15px;
    height: 15px;
    max-width: 100%;
}

.thread-comment-content {
    margin-left: 15px;
    margin-right: 15px;
}

.thread-comments-buttons {
    display: inline-block;
    float: right;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 10px;
}

.thread-comments-button_options {
    display: inline-block;
}

.thread-comments-button_report {
    display: inline-block;
}

.thread-comments-modal {
    width: 100%;
    overflow-y: scroll;
    height: 200px;
    resize: none;
}







