<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="commentBox thread-comment_box" sec:authorize="isAuthenticated()">

    <th:block th:insert="editor/text-editor"></th:block>

    <div id="textarea-content-createComment"
         class="thread-comment_box-textarea"
         contenteditable="true">

    </div>
    <div class="row d-flex justify-content-center align-items-center thread-comment_box-buttons">
        <button sec:authorize="isAuthenticated()" id="button-createCommentThread-readThreadPage"
                class="btn btn-sm" type="button">
            Comment
        </button>
        <button id="button-cancelCommentThread-readThreadPage"
                class="btn btn-sm thread-comment_box-button_cancel" type="button">
            Cancel
        </button>
    </div>
</div>

<script>
    bindShowCommentBox($(`#button-commentThread-readThreadPage`), $(`.commentBox`));
    bindHideCommentBox($(`#button-cancelCommentThread-readThreadPage`), $(`.commentBox`));
</script>

<script th:inline="javascript">
    let threadId = /*[[*{id}]]*/ null;
    createComment(threadId);
</script>

<script src="/res/js/editor/text-editor.js"></script>