<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div class="modal modal-all-followers" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">All users that are following <span><b th:text="*{username}"></b></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <script src="/res/js/user/profile/user-follow-filler.js"></script>

            <div id="div-insert_followers-user_followers_all" class="modal-body"  style="overflow: auto;max-height: 400px">

            </div>
        </div>
    </div>
</div>