<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<script src="/res/js/user/options/user-options-profile-information.js"></script>

<th:block th:if="${playerData.playerName == null}">

    <div class="dropdown-divider"></div>

    <div class="row" align="center">
        <div class="col-lg">
            <span>You havent linked account yet!</span>
        </div>
    </div>

    <div class="dropdown-divider"></div>

    <div class="row" align="center">
        <div class="col-lg">
                                <span>To link your account you must be logged in the site with the profile that you want to link your account
                                ,then in the game type <span><b>/linkaccount</b></span> ,then a <span><b>link</b></span> will be generated ,click
                                    it and a page <span><b>in the site</b></span> will open
                                with confirmation to link your account.Note that if you link your account you cant link another until <span><b>the
                                previous is unlinked</b></span>.</span>
        </div>
    </div>

    <div class="dropdown-divider"></div>

</th:block>

<th:block th:if="${playerData.playerName != null}" th:object="${playerData}">
    <div class="row" align="center">
        <div class="col-lg">
            <span><b><a th:href="@{/player/{uuid}(uuid=*{playerUUID})}" th:text="*{playerName}">Player Name</a></b></span>
        </div>
    </div>

    <div class="dropdown-divider"></div>

    <div align="center">
        <img th:src="@{https://crafatar.com/renders/body/{uuid}(uuid=*{playerUUID})}" style="width: 95px;height: 185px"/>
    </div>

    <div class="dropdown-divider"></div>

    <div align="center" style="margin-top: 10px">
        <form style="all:initial" method="post" action="/user/my-profile/options/minecraft/unlink">
            <button type="submit" class="btn btn-warning">Unlink</button>
        </form>
    </div>
</th:block>