form > div.row {
    margin-top: 1%;
}

form > div.row > button {
    margin-left: 35%;
    margin-right: 35%;
}

#textarea-content-createThread {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 60vw;
    min-width: 230px;
    min-height: 25vw;
    max-height: 25vw;
    overflow: auto;
}