.row-holder {
    font-size: 15px;
}

.div-icon {
    font-size: 16px;
}

.div-total {
    column-width: 150px;
}



.total-reactions {
    display: inline-block;
    float: right;
}

.total-reactions {
    display: inline-block;
    float: right;
}