.card-minecraft-holder {
    margin-top: 10px;
}

.avatar-minecraft-player {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.username-minecraf-player {
   margin-left: 5px;
}