.user-base-info {
    margin-top: 10px;font-size: 13px;
}

.user-base-info-body {
    line-height: 13px;font-family: Consolas;margin-left: -20px;
}

.user-base-info-last-online-content span {
    display: inline-block;float: right;
}

.info-row {
    font-size: 11px
}

.info-content {
    display: inline-block;
    float: right;
}

.width-col-100 {
    column-width: 100px;
}

.width-col-75 {
    column-width: 75px;
}

.div-reg-holder {
    column-width: 100px;
}